<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p-tree [value]="orgs" selectionMode="single" [(selection)]="selectedOrg"
                    (onNodeSelect)="nodeSelect($event)"></p-tree>
        </div>
        <div class="col-md-8">
            <p-dataTable [value]="users" [(selection)]="selectedUsers" dataKey="id" [paginator]="true" [pageLinks]="3"
                         [rowsPerPageOptions]="[25,50,100]" [rows]="25"
                         [headerCheckboxToggleAllPages]="true">
                <p-header>
                    <div class="ui-helper-clearfix">
                        <button pButton type="button" [disabled]="selectedUsers?.length===0" icon="fa-save" label="保存" id="save">
                        </button>
                        <button pButton type="button" icon="fa-sign-out" class="ui-button-danger" routerLink="/group"
                                label="返回" id="back">
                        </button>
                    </div>
                </p-header>
                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                <p-column field="idCard" header="员工编号"></p-column>
                <p-column field="name" header="姓名"></p-column>
                <p-column field="isActive" header="是否启用"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>
